USE [NDMC_ImportData]
GO
/****** Object:  Table [dbo].[RegionMappings]    Script Date: 2019/01/25 19:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionMappings](
	[OldRegionId] [int] NOT NULL,
	[NewRegionId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[RegionMappings] ([OldRegionId], [NewRegionId]) VALUES (196, 231)
INSERT [dbo].[RegionMappings] ([OldRegionId], [NewRegionId]) VALUES (424, 179)
INSERT [dbo].[RegionMappings] ([OldRegionId], [NewRegionId]) VALUES (474, 223)
GO
