USE [master]
GO
/****** Object:  Database [NDMC_TEST]    Script Date: 2018/05/28 13:29:55 ******/
CREATE DATABASE [NDMC_TEST] ON  PRIMARY 
( NAME = N'NDMC_TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NDMC_TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDMC_TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NDMC_TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDMC_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDMC_TEST]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeclaredEvents]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeclaredEvents](
	[DeclaredEventId] [int] IDENTITY(1,1) NOT NULL,
	[DeclaredDate] [bigint] NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DeclaredEvents] PRIMARY KEY CLUSTERED 
(
	[DeclaredEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventImpacts]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventImpacts](
	[EventImpactId] [int] IDENTITY(1,1) NOT NULL,
	[Measure] [float] NULL,
	[EventId] [int] NOT NULL,
	[TypeImpactId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EventImpacts] PRIMARY KEY CLUSTERED 
(
	[EventImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRegions]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegions](
	[EventRegionId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EventRegions] PRIMARY KEY CLUSTERED 
(
	[EventRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [bigint] NULL,
	[EndDate] [bigint] NULL,
	[Location_WKT] [nvarchar](max) NULL,
	[TypeEventId] [int] NULL,
	[TypeSourceId] [int] NULL,
 CONSTRAINT [PK_dbo.Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mitigations]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mitigations](
	[MitigationId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [bigint] NULL,
	[Value] [float] NULL,
	[DepartmentId] [int] NULL,
	[EventId] [int] NOT NULL,
	[TypeMitigationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Mitigations] PRIMARY KEY CLUSTERED 
(
	[MitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](max) NOT NULL,
	[ParentRegionId] [int] NULL,
	[RegionTypeId] [int] NULL,
 CONSTRAINT [PK_dbo.Regions] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionTypes]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionTypes](
	[RegionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[RegionTypeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RegionTypes] PRIMARY KEY CLUSTERED 
(
	[RegionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeEvents]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeEvents](
	[TypeEventId] [int] IDENTITY(1,1) NOT NULL,
	[TypeEventName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TypeEvents] PRIMARY KEY CLUSTERED 
(
	[TypeEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeImpacts]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeImpacts](
	[TypeImpactId] [int] IDENTITY(1,1) NOT NULL,
	[TypeImpactName] [nvarchar](max) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NULL,
	[ParentTypeImpactId] [int] NULL,
 CONSTRAINT [PK_dbo.TypeImpacts] PRIMARY KEY CLUSTERED 
(
	[TypeImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMitigations]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMitigations](
	[TypeMitigationId] [int] IDENTITY(1,1) NOT NULL,
	[TypeMitigationName] [nvarchar](max) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NULL,
	[ParentTypeMitigationId] [int] NULL,
 CONSTRAINT [PK_dbo.TypeMitigations] PRIMARY KEY CLUSTERED 
(
	[TypeMitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeSources]    Script Date: 2018/05/28 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeSources](
	[TypeSourceId] [int] IDENTITY(1,1) NOT NULL,
	[TypeSourceName] [nvarchar](max) NOT NULL,
	[TypeSourceSource] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TypeSources] PRIMARY KEY CLUSTERED 
(
	[TypeSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DeclaredEvents] ON 

INSERT [dbo].[DeclaredEvents] ([DeclaredEventId], [DeclaredDate], [EventId]) VALUES (1, 1460073600, 1)
INSERT [dbo].[DeclaredEvents] ([DeclaredEventId], [DeclaredDate], [EventId]) VALUES (2, 1460073600, 2)
INSERT [dbo].[DeclaredEvents] ([DeclaredEventId], [DeclaredDate], [EventId]) VALUES (3, 1460073600, 3)
GO
SET IDENTITY_INSERT [dbo].[DeclaredEvents] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'Alfred Nzo')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (2, N'Al-Imdaad & Gift of the Givers')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (3, N'Amajuba')
GO
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[EventImpacts] ON 

INSERT [dbo].[EventImpacts] ([EventImpactId], [Measure], [EventId], [TypeImpactId]) VALUES (1, 5, 19, 3)
INSERT [dbo].[EventImpacts] ([EventImpactId], [Measure], [EventId], [TypeImpactId]) VALUES (2, 5, 19, 5)
INSERT [dbo].[EventImpacts] ([EventImpactId], [Measure], [EventId], [TypeImpactId]) VALUES (3, 13, 19, 9)
GO
SET IDENTITY_INSERT [dbo].[EventImpacts] OFF
SET IDENTITY_INSERT [dbo].[EventRegions] ON 

INSERT [dbo].[EventRegions] ([EventRegionId], [EventId], [RegionId]) VALUES (1, 1, 321)
INSERT [dbo].[EventRegions] ([EventRegionId], [EventId], [RegionId]) VALUES (2, 2, 337)
INSERT [dbo].[EventRegions] ([EventRegionId], [EventId], [RegionId]) VALUES (3, 3, 394)
GO
SET IDENTITY_INSERT [dbo].[EventRegions] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [StartDate], [EndDate], [Location_WKT], [TypeEventId], [TypeSourceId]) VALUES (1, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Events] ([EventId], [StartDate], [EndDate], [Location_WKT], [TypeEventId], [TypeSourceId]) VALUES (2, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Events] ([EventId], [StartDate], [EndDate], [Location_WKT], [TypeEventId], [TypeSourceId]) VALUES (3, NULL, NULL, NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Mitigations] ON 

INSERT [dbo].[Mitigations] ([MitigationId], [Date], [Value], [DepartmentId], [EventId], [TypeMitigationId]) VALUES (1, 2015, 390000000, NULL, 166, 3)
INSERT [dbo].[Mitigations] ([MitigationId], [Date], [Value], [DepartmentId], [EventId], [TypeMitigationId]) VALUES (2, 2015, 390000000, NULL, 166, 16)
INSERT [dbo].[Mitigations] ([MitigationId], [Date], [Value], [DepartmentId], [EventId], [TypeMitigationId]) VALUES (3, 2015, 390000000, NULL, 166, 17)
GO
SET IDENTITY_INSERT [dbo].[Mitigations] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionId], [RegionName], [ParentRegionId], [RegionTypeId]) VALUES (1, N'Gauteng', NULL, 4)
INSERT [dbo].[Regions] ([RegionId], [RegionName], [ParentRegionId], [RegionTypeId]) VALUES (2, N'KwaZulu-Natal', NULL, 4)
INSERT [dbo].[Regions] ([RegionId], [RegionName], [ParentRegionId], [RegionTypeId]) VALUES (3, N'Mpumalanga', NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[RegionTypes] ON 

INSERT [dbo].[RegionTypes] ([RegionTypeId], [RegionTypeName]) VALUES (1, N'District')
INSERT [dbo].[RegionTypes] ([RegionTypeId], [RegionTypeName]) VALUES (2, N'District Municipality')
INSERT [dbo].[RegionTypes] ([RegionTypeId], [RegionTypeName]) VALUES (3, N'Local Municipality')
SET IDENTITY_INSERT [dbo].[RegionTypes] OFF
SET IDENTITY_INSERT [dbo].[TypeEvents] ON 

INSERT [dbo].[TypeEvents] ([TypeEventId], [TypeEventName]) VALUES (1, N'Drought')
INSERT [dbo].[TypeEvents] ([TypeEventId], [TypeEventName]) VALUES (2, N'Drowning')
INSERT [dbo].[TypeEvents] ([TypeEventId], [TypeEventName]) VALUES (3, N'Earthquake')
SET IDENTITY_INSERT [dbo].[TypeEvents] OFF
SET IDENTITY_INSERT [dbo].[TypeImpacts] ON 

INSERT [dbo].[TypeImpacts] ([TypeImpactId], [TypeImpactName], [UnitOfMeasure], [ParentTypeImpactId]) VALUES (1, N'Area Burnt', N'Hectare', 35)
INSERT [dbo].[TypeImpacts] ([TypeImpactId], [TypeImpactName], [UnitOfMeasure], [ParentTypeImpactId]) VALUES (2, N'Hay Bales', N'Count', 35)
INSERT [dbo].[TypeImpacts] ([TypeImpactId], [TypeImpactName], [UnitOfMeasure], [ParentTypeImpactId]) VALUES (3, N'Bridges', N'Count', 53)
SET IDENTITY_INSERT [dbo].[TypeImpacts] OFF
SET IDENTITY_INSERT [dbo].[TypeMitigations] ON 

INSERT [dbo].[TypeMitigations] ([TypeMitigationId], [TypeMitigationName], [UnitOfMeasure], [ParentTypeMitigationId]) VALUES (1, N'Drought Intervention', N'Rands', NULL)
INSERT [dbo].[TypeMitigations] ([TypeMitigationId], [TypeMitigationName], [UnitOfMeasure], [ParentTypeMitigationId]) VALUES (2, N'Livestock Feed', N'Rands', NULL)
INSERT [dbo].[TypeMitigations] ([TypeMitigationId], [TypeMitigationName], [UnitOfMeasure], [ParentTypeMitigationId]) VALUES (3, N'Borehole Construction', N'Rands', NULL)
SET IDENTITY_INSERT [dbo].[TypeMitigations] OFF
SET IDENTITY_INSERT [dbo].[TypeSources] ON 

INSERT [dbo].[TypeSources] ([TypeSourceId], [TypeSourceName], [TypeSourceSource]) VALUES (1, N'Declared Disaster', NULL)
SET IDENTITY_INSERT [dbo].[TypeSources] OFF
/****** Object:  Index [IX_EventId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[DeclaredEvents]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventImpacts]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeImpactId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_TypeImpactId] ON [dbo].[EventImpacts]
(
	[TypeImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventRegions]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegionId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_RegionId] ON [dbo].[EventRegions]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeEventId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_TypeEventId] ON [dbo].[Events]
(
	[TypeEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeSourceId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_TypeSourceId] ON [dbo].[Events]
(
	[TypeSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Mitigations]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[Mitigations]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeMitigationId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_TypeMitigationId] ON [dbo].[Mitigations]
(
	[TypeMitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentRegionId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_ParentRegionId] ON [dbo].[Regions]
(
	[ParentRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegionTypeId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_RegionTypeId] ON [dbo].[Regions]
(
	[RegionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentTypeImpactId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_ParentTypeImpactId] ON [dbo].[TypeImpacts]
(
	[ParentTypeImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentTypeMitigationId]    Script Date: 2018/05/28 13:29:55 ******/
CREATE NONCLUSTERED INDEX [IX_ParentTypeMitigationId] ON [dbo].[TypeMitigations]
(
	[ParentTypeMitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeclaredEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DeclaredEvents_dbo.Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeclaredEvents] CHECK CONSTRAINT [FK_dbo.DeclaredEvents_dbo.Events_EventId]
GO
ALTER TABLE [dbo].[EventImpacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventImpacts_dbo.Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventImpacts] CHECK CONSTRAINT [FK_dbo.EventImpacts_dbo.Events_EventId]
GO
ALTER TABLE [dbo].[EventImpacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventImpacts_dbo.TypeImpacts_TypeImpactId] FOREIGN KEY([TypeImpactId])
REFERENCES [dbo].[TypeImpacts] ([TypeImpactId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventImpacts] CHECK CONSTRAINT [FK_dbo.EventImpacts_dbo.TypeImpacts_TypeImpactId]
GO
ALTER TABLE [dbo].[EventRegions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventRegions_dbo.Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventRegions] CHECK CONSTRAINT [FK_dbo.EventRegions_dbo.Events_EventId]
GO
ALTER TABLE [dbo].[EventRegions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventRegions_dbo.Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventRegions] CHECK CONSTRAINT [FK_dbo.EventRegions_dbo.Regions_RegionId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Events_dbo.TypeEvents_TypeEventId] FOREIGN KEY([TypeEventId])
REFERENCES [dbo].[TypeEvents] ([TypeEventId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_dbo.Events_dbo.TypeEvents_TypeEventId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Events_dbo.TypeSources_TypeSourceId] FOREIGN KEY([TypeSourceId])
REFERENCES [dbo].[TypeSources] ([TypeSourceId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_dbo.Events_dbo.TypeSources_TypeSourceId]
GO
ALTER TABLE [dbo].[Mitigations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mitigations_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Mitigations] CHECK CONSTRAINT [FK_dbo.Mitigations_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Mitigations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mitigations_dbo.Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mitigations] CHECK CONSTRAINT [FK_dbo.Mitigations_dbo.Events_EventId]
GO
ALTER TABLE [dbo].[Mitigations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mitigations_dbo.TypeMitigations_TypeMitigationId] FOREIGN KEY([TypeMitigationId])
REFERENCES [dbo].[TypeMitigations] ([TypeMitigationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mitigations] CHECK CONSTRAINT [FK_dbo.Mitigations_dbo.TypeMitigations_TypeMitigationId]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Regions_dbo.Regions_ParentRegionId] FOREIGN KEY([ParentRegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_dbo.Regions_dbo.Regions_ParentRegionId]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Regions_dbo.RegionTypes_RegionTypeId] FOREIGN KEY([RegionTypeId])
REFERENCES [dbo].[RegionTypes] ([RegionTypeId])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_dbo.Regions_dbo.RegionTypes_RegionTypeId]
GO
ALTER TABLE [dbo].[TypeImpacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TypeImpacts_dbo.TypeImpacts_ParentTypeImpactId] FOREIGN KEY([ParentTypeImpactId])
REFERENCES [dbo].[TypeImpacts] ([TypeImpactId])
GO
ALTER TABLE [dbo].[TypeImpacts] CHECK CONSTRAINT [FK_dbo.TypeImpacts_dbo.TypeImpacts_ParentTypeImpactId]
GO
ALTER TABLE [dbo].[TypeMitigations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TypeMitigations_dbo.TypeMitigations_ParentTypeMitigationId] FOREIGN KEY([ParentTypeMitigationId])
REFERENCES [dbo].[TypeMitigations] ([TypeMitigationId])
GO
ALTER TABLE [dbo].[TypeMitigations] CHECK CONSTRAINT [FK_dbo.TypeMitigations_dbo.TypeMitigations_ParentTypeMitigationId]
GO
USE [master]
GO
