USE [master]
GO
/****** Object:  Database [NDMC_TEST]    Script Date: 2018/11/15 23:05:13 ******/
CREATE DATABASE [NDMC_TEST] ON  PRIMARY 
( NAME = N'NDMC_TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NDMC_TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDMC_TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NDMC_TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDMC_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDMC_TEST]
GO
/****** Object:  Table [dbo].[DeclaredEvents]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeclaredEvents](
	[DeclaredEventId] [int] IDENTITY(1,1) NOT NULL,
	[DeclaredDate] [bigint] NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_DeclaredEvents] PRIMARY KEY CLUSTERED 
(
	[DeclaredEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventImpacts]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventImpacts](
	[EventImpactId] [int] IDENTITY(1,1) NOT NULL,
	[Measure] [float] NULL,
	[EventRegionId] [int] NOT NULL,
	[TypeImpactId] [int] NOT NULL,
 CONSTRAINT [PK_EventImpacts] PRIMARY KEY CLUSTERED 
(
	[EventImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRegions]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegions](
	[EventRegionId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_EventRegions] PRIMARY KEY CLUSTERED 
(
	[EventRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [bigint] NULL,
	[EndDate] [bigint] NULL,
	[Location_WKT] [nvarchar](max) NULL,
	[TypeEventId] [int] NULL,
	[TypeSourceId] [int] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mitigations]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mitigations](
	[MitigationId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [bigint] NULL,
	[Value] [float] NULL,
	[EventId] [int] NOT NULL,
	[TypeMitigationId] [int] NOT NULL,
 CONSTRAINT [PK_Mitigations] PRIMARY KEY CLUSTERED 
(
	[MitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](max) NOT NULL,
	[ParentRegionId] [int] NULL,
	[RegionTypeId] [int] NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionTypes]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionTypes](
	[RegionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[RegionTypeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_RegionTypes] PRIMARY KEY CLUSTERED 
(
	[RegionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeEvents]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeEvents](
	[TypeEventId] [int] IDENTITY(1,1) NOT NULL,
	[TypeEventName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TypeEvents] PRIMARY KEY CLUSTERED 
(
	[TypeEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeImpacts]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeImpacts](
	[TypeImpactId] [int] IDENTITY(1,1) NOT NULL,
	[TypeImpactName] [nvarchar](max) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NULL,
	[ParentTypeImpactId] [int] NULL,
 CONSTRAINT [PK_TypeImpacts] PRIMARY KEY CLUSTERED 
(
	[TypeImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMitigations]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMitigations](
	[TypeMitigationId] [int] IDENTITY(1,1) NOT NULL,
	[TypeMitigationName] [nvarchar](max) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NULL,
	[ParentTypeMitigationId] [int] NULL,
 CONSTRAINT [PK_TypeMitigations] PRIMARY KEY CLUSTERED 
(
	[TypeMitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeSources]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeSources](
	[TypeSourceId] [int] IDENTITY(1,1) NOT NULL,
	[TypeSourceName] [nvarchar](max) NOT NULL,
	[TypeSourceSource] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeSources] PRIMARY KEY CLUSTERED 
(
	[TypeSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2018/11/15 23:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DeclaredEvents] ON 

INSERT [dbo].[DeclaredEvents] ([DeclaredEventId], [DeclaredDate], [EventId]) VALUES (1, 1460073600, 1)
INSERT [dbo].[DeclaredEvents] ([DeclaredEventId], [DeclaredDate], [EventId]) VALUES (2, 1460073600, 2)
INSERT [dbo].[DeclaredEvents] ([DeclaredEventId], [DeclaredDate], [EventId]) VALUES (3, 1460073600, 3)
GO
SET IDENTITY_INSERT [dbo].[DeclaredEvents] OFF
SET IDENTITY_INSERT [dbo].[EventImpacts] ON 

INSERT [dbo].[EventImpacts] ([EventImpactId], [Measure], [EventRegionId], [TypeImpactId]) VALUES (1, 5, 163, 3)
INSERT [dbo].[EventImpacts] ([EventImpactId], [Measure], [EventRegionId], [TypeImpactId]) VALUES (2, 5, 163, 5)
INSERT [dbo].[EventImpacts] ([EventImpactId], [Measure], [EventRegionId], [TypeImpactId]) VALUES (3, 13, 163, 10)
GO
SET IDENTITY_INSERT [dbo].[EventImpacts] OFF
SET IDENTITY_INSERT [dbo].[EventRegions] ON 

INSERT [dbo].[EventRegions] ([EventRegionId], [EventId], [RegionId]) VALUES (1, 1, 329)
INSERT [dbo].[EventRegions] ([EventRegionId], [EventId], [RegionId]) VALUES (2, 2, 345)
INSERT [dbo].[EventRegions] ([EventRegionId], [EventId], [RegionId]) VALUES (3, 3, 402)
GO
SET IDENTITY_INSERT [dbo].[EventRegions] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [StartDate], [EndDate], [Location_WKT], [TypeEventId], [TypeSourceId]) VALUES (1, NULL, NULL, N'', 2, 1)
INSERT [dbo].[Events] ([EventId], [StartDate], [EndDate], [Location_WKT], [TypeEventId], [TypeSourceId]) VALUES (2, NULL, NULL, N'', 2, 1)
INSERT [dbo].[Events] ([EventId], [StartDate], [EndDate], [Location_WKT], [TypeEventId], [TypeSourceId]) VALUES (3, NULL, NULL, N'', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Mitigations] ON 

INSERT [dbo].[Mitigations] ([MitigationId], [Date], [Value], [EventId], [TypeMitigationId]) VALUES (1, 2016, 300000000, 10, 1)
INSERT [dbo].[Mitigations] ([MitigationId], [Date], [Value], [EventId], [TypeMitigationId]) VALUES (2, 2016, 52000000, 12, 2)
INSERT [dbo].[Mitigations] ([MitigationId], [Date], [Value], [EventId], [TypeMitigationId]) VALUES (3, 2016, 0, 12, 3)
GO
SET IDENTITY_INSERT [dbo].[Mitigations] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionId], [RegionName], [ParentRegionId], [RegionTypeId]) VALUES (1, N'Gauteng', NULL, 4)
INSERT [dbo].[Regions] ([RegionId], [RegionName], [ParentRegionId], [RegionTypeId]) VALUES (2, N'KwaZulu-Natal', NULL, 4)
INSERT [dbo].[Regions] ([RegionId], [RegionName], [ParentRegionId], [RegionTypeId]) VALUES (3, N'Mpumalanga', NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[RegionTypes] ON 

INSERT [dbo].[RegionTypes] ([RegionTypeId], [RegionTypeName]) VALUES (1, N'District')
INSERT [dbo].[RegionTypes] ([RegionTypeId], [RegionTypeName]) VALUES (2, N'District Municipality')
INSERT [dbo].[RegionTypes] ([RegionTypeId], [RegionTypeName]) VALUES (3, N'Local Municipality')
SET IDENTITY_INSERT [dbo].[RegionTypes] OFF
SET IDENTITY_INSERT [dbo].[TypeEvents] ON 

INSERT [dbo].[TypeEvents] ([TypeEventId], [TypeEventName]) VALUES (1, N'')
INSERT [dbo].[TypeEvents] ([TypeEventId], [TypeEventName]) VALUES (2, N'Drought')
INSERT [dbo].[TypeEvents] ([TypeEventId], [TypeEventName]) VALUES (3, N'Drowning')
SET IDENTITY_INSERT [dbo].[TypeEvents] OFF
SET IDENTITY_INSERT [dbo].[TypeImpacts] ON 

INSERT [dbo].[TypeImpacts] ([TypeImpactId], [TypeImpactName], [UnitOfMeasure], [ParentTypeImpactId]) VALUES (1, N'Area Burnt', N'Hectare', 36)
INSERT [dbo].[TypeImpacts] ([TypeImpactId], [TypeImpactName], [UnitOfMeasure], [ParentTypeImpactId]) VALUES (2, N'Hay Bales', N'Count', 36)
INSERT [dbo].[TypeImpacts] ([TypeImpactId], [TypeImpactName], [UnitOfMeasure], [ParentTypeImpactId]) VALUES (3, N'Bridges', N'Count', 54)
SET IDENTITY_INSERT [dbo].[TypeImpacts] OFF
SET IDENTITY_INSERT [dbo].[TypeMitigations] ON 

INSERT [dbo].[TypeMitigations] ([TypeMitigationId], [TypeMitigationName], [UnitOfMeasure], [ParentTypeMitigationId]) VALUES (1, N'Drought Intervention', N'Rands', NULL)
INSERT [dbo].[TypeMitigations] ([TypeMitigationId], [TypeMitigationName], [UnitOfMeasure], [ParentTypeMitigationId]) VALUES (2, N'Livestock Feed', N'Rands', NULL)
INSERT [dbo].[TypeMitigations] ([TypeMitigationId], [TypeMitigationName], [UnitOfMeasure], [ParentTypeMitigationId]) VALUES (3, N'Borehole Construction', N'Rands', NULL)
SET IDENTITY_INSERT [dbo].[TypeMitigations] OFF
SET IDENTITY_INSERT [dbo].[TypeSources] ON 

INSERT [dbo].[TypeSources] ([TypeSourceId], [TypeSourceName], [TypeSourceSource]) VALUES (1, N'Declared Disaster', NULL)
SET IDENTITY_INSERT [dbo].[TypeSources] OFF
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181115205737_Initial Create', N'2.1.4-rtm-31024')
/****** Object:  Index [IX_DeclaredEvents_EventId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_DeclaredEvents_EventId] ON [dbo].[DeclaredEvents]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventImpacts_EventRegionId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_EventImpacts_EventRegionId] ON [dbo].[EventImpacts]
(
	[EventRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventImpacts_TypeImpactId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_EventImpacts_TypeImpactId] ON [dbo].[EventImpacts]
(
	[TypeImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventRegions_EventId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_EventRegions_EventId] ON [dbo].[EventRegions]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventRegions_RegionId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_EventRegions_RegionId] ON [dbo].[EventRegions]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_TypeEventId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_Events_TypeEventId] ON [dbo].[Events]
(
	[TypeEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_TypeSourceId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_Events_TypeSourceId] ON [dbo].[Events]
(
	[TypeSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mitigations_EventId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_Mitigations_EventId] ON [dbo].[Mitigations]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mitigations_TypeMitigationId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_Mitigations_TypeMitigationId] ON [dbo].[Mitigations]
(
	[TypeMitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Regions_ParentRegionId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_Regions_ParentRegionId] ON [dbo].[Regions]
(
	[ParentRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Regions_RegionTypeId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_Regions_RegionTypeId] ON [dbo].[Regions]
(
	[RegionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeImpacts_ParentTypeImpactId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_TypeImpacts_ParentTypeImpactId] ON [dbo].[TypeImpacts]
(
	[ParentTypeImpactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeMitigations_ParentTypeMitigationId]    Script Date: 2018/11/15 23:05:14 ******/
CREATE NONCLUSTERED INDEX [IX_TypeMitigations_ParentTypeMitigationId] ON [dbo].[TypeMitigations]
(
	[ParentTypeMitigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeclaredEvents]  WITH CHECK ADD  CONSTRAINT [FK_DeclaredEvents_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeclaredEvents] CHECK CONSTRAINT [FK_DeclaredEvents_Events_EventId]
GO
ALTER TABLE [dbo].[EventImpacts]  WITH CHECK ADD  CONSTRAINT [FK_EventImpacts_EventRegions_EventRegionId] FOREIGN KEY([EventRegionId])
REFERENCES [dbo].[EventRegions] ([EventRegionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventImpacts] CHECK CONSTRAINT [FK_EventImpacts_EventRegions_EventRegionId]
GO
ALTER TABLE [dbo].[EventImpacts]  WITH CHECK ADD  CONSTRAINT [FK_EventImpacts_TypeImpacts_TypeImpactId] FOREIGN KEY([TypeImpactId])
REFERENCES [dbo].[TypeImpacts] ([TypeImpactId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventImpacts] CHECK CONSTRAINT [FK_EventImpacts_TypeImpacts_TypeImpactId]
GO
ALTER TABLE [dbo].[EventRegions]  WITH CHECK ADD  CONSTRAINT [FK_EventRegions_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventRegions] CHECK CONSTRAINT [FK_EventRegions_Events_EventId]
GO
ALTER TABLE [dbo].[EventRegions]  WITH CHECK ADD  CONSTRAINT [FK_EventRegions_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventRegions] CHECK CONSTRAINT [FK_EventRegions_Regions_RegionId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_TypeEvents_TypeEventId] FOREIGN KEY([TypeEventId])
REFERENCES [dbo].[TypeEvents] ([TypeEventId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_TypeEvents_TypeEventId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_TypeSources_TypeSourceId] FOREIGN KEY([TypeSourceId])
REFERENCES [dbo].[TypeSources] ([TypeSourceId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_TypeSources_TypeSourceId]
GO
ALTER TABLE [dbo].[Mitigations]  WITH CHECK ADD  CONSTRAINT [FK_Mitigations_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mitigations] CHECK CONSTRAINT [FK_Mitigations_Events_EventId]
GO
ALTER TABLE [dbo].[Mitigations]  WITH CHECK ADD  CONSTRAINT [FK_Mitigations_TypeMitigations_TypeMitigationId] FOREIGN KEY([TypeMitigationId])
REFERENCES [dbo].[TypeMitigations] ([TypeMitigationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mitigations] CHECK CONSTRAINT [FK_Mitigations_TypeMitigations_TypeMitigationId]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_Regions_Regions_ParentRegionId] FOREIGN KEY([ParentRegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_Regions_Regions_ParentRegionId]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_Regions_RegionTypes_RegionTypeId] FOREIGN KEY([RegionTypeId])
REFERENCES [dbo].[RegionTypes] ([RegionTypeId])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_Regions_RegionTypes_RegionTypeId]
GO
ALTER TABLE [dbo].[TypeImpacts]  WITH CHECK ADD  CONSTRAINT [FK_TypeImpacts_TypeImpacts_ParentTypeImpactId] FOREIGN KEY([ParentTypeImpactId])
REFERENCES [dbo].[TypeImpacts] ([TypeImpactId])
GO
ALTER TABLE [dbo].[TypeImpacts] CHECK CONSTRAINT [FK_TypeImpacts_TypeImpacts_ParentTypeImpactId]
GO
ALTER TABLE [dbo].[TypeMitigations]  WITH CHECK ADD  CONSTRAINT [FK_TypeMitigations_TypeMitigations_ParentTypeMitigationId] FOREIGN KEY([ParentTypeMitigationId])
REFERENCES [dbo].[TypeMitigations] ([TypeMitigationId])
GO
ALTER TABLE [dbo].[TypeMitigations] CHECK CONSTRAINT [FK_TypeMitigations_TypeMitigations_ParentTypeMitigationId]
GO
USE [master]
GO
